.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
.colors-container{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 523px;
}
.choice{
  border: solid 2px black;
  margin: 10px;
  width: 100px;
  height: 100px;
}
.color{
  border: solid 0.5px black;
  height: 30px;
  width: 30px;
}
.reset-btn{
  margin: auto;
  margin-top: 20px;
  margin-left: 200px;
}
.current{
  margin-top: 20px;
  height: 100px;
  width: 100px;
  border: solid black 2px;
}

div:hover{
  cursor: pointer;
}


