.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
.App:hover{
  cursor:auto;
}
.colors-container{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 523px;
}
.choice{
  border: solid 2px black;
  margin: 30px;
  width: 100px;
  height: 100px;
}
.color{
  border: solid 0.5px black;
  height: 30px;
  width: 30px;
}
.reset-btn{
  margin: auto;
  margin-top: 20px;
  margin-left: 200px;
}
.current{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 60px;
  width: 100px;
  border: solid black 2px;
}
.hex:hover{
  cursor:text;
}
.choices{
  display: flex;
  justify-content: space-between;
}
.paper{
  /* width: 700px;
  height: 400px; */
  border: solid black 2px;
}

div:hover{
  cursor:pointer;
}
div:focus-within{
  background-color: white;
}


